# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.venv/

# IDEs e arquivos de configuração
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log

# Configs locais
*.env
.env.*
*.ini
*.cfg

# Arquivos temporários
*.bak
*.tmp
*.swp
.DS_Store
Thumbs.db


# PDFs e imagens geradas
files/etiquetas/*.pdf
files/etiquetas/*.png

# CSVs de uso temporário (ajuste conforme necessário)
files/*.csv
!files/exemplos.csv  # Exceção: manter um CSV de exemplo, se existir

# Pytest / coverage
.pytest_cache/
htmlcov/
.coverage
.tox/
.nox/

# Compilados C/C++
*.so
*.o
*.out
*.a
*.dll

# MyPy
.mypy_cache/

# FastAPI Swagger cache
.openapi.json
